<!-- Main Layout: Full Background -->
<div class="min-h-screen bg-black text-gray-100">
  <app-header></app-header>
  <!-- Content Card Example -->
  <div class="px-[15%]">
    <!-- <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 lg:grid-cols-5 gap-10 p-10"
    >
      @for (movie of actors.actors; track $index) {
      <app-card [data]="movie"></app-card>
      }
    </div> -->
    <!-- <app-search searchTerm="To"></app-search> -->
    <router-outlet></router-outlet>
  </div>

  <!-- Footer or other components would follow the same palette -->
</div>
